asgiref
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
EasyProcess
entrypoint2
filelock
MouseInfo
mss
Pillow
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dotenv
pythonautogui
pytweening
sqlparse
typing_extensions
tzdata
virtualenv