{% extends "base.html" %}

{% block content %}
    <style>
        .carousel {
            overflow: hidden;
            max-width: 100%;
            position: relative;
        }

        .carousel-inner {
            display: flex;
            transition: transform 1s ease-in-out;
           
        }

        .carousel-item {
            flex: 0 0 100%; 
            
        }

        

        @keyframes carouselAnimation {
            0%, 100% {
                transform: translateX(0);
            }
            20%, 80% {
                transform: translateX(-100%);
            }
            40%, 60% {
                transform: translateX(-200%);
            }
        }

        .carousel-animation {
            animation: carouselAnimation 20s infinite;
        }
    </style>

    <div class="carousel ">
        <div class="carousel-inner carousel-animation">
           
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/social-media-cover-template-world-book-day-celebration_23-2150181277.jpg?size=626&ext=jpg&ga=GA1.1.274104559.1692125061&semt=ais" class='w-full' style='height: 500px;' alt="Slide 3">
            </div> 
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/flat-world-book-day-sale-horizontal-banner_23-2149303768.jpg?size=626&ext=jpg&ga=GA1.1.274104559.1692125061&semt=ais" class='w-full' style='height: 500px;' alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/horizontal-sale-banner-template-world-book-day-celebration_23-2150226036.jpg?w=826&t=st=1704548635~exp=1704549235~hmac=30407ee46f8b30d4fdc21c368ebc282e887cf7ec7cac2870cc19eff1b7b9c7c5" class='w-full' style='height: 500px;' alt="Slide 2">
            </div> 
    
        </div>
    </div>
    <div class="flex justify-center items-center my-4 space-x-4" style='margin-top:100px;'>
        {% for category in categories %}
            <a href="{% url 'category_books' category.id %}" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-md">
                {{ category.category_name }}
            </a>
        {% endfor %}
    </div>
   <div class=' flex flex-wrap my-20   mx-auto container' >
    {% for book in books %}
    <!-- Your HTML template -->
    <div class="max-w-sm rounded p-6 overflow-hidden shadow-lg m-4">
    <img class="w-80 mx-auto mb-6 p-8 rounded-md h-74 shadow-lg object-cover" src="{{ book.image_url }}" alt="{{ book.title }}">
    <div class="px-6 py-4">
    <div class="font-bold text-xl mb-1">{{ book.title }}</div>
    <div class="font-bold text-xl mb-3"> By <span class='font-semibold text-red-400'>{{ book.aurthor_name }}</span></div>
    

    <p class="text-gray-700 text-base">{{ book.description|truncatewords:15 }}</p>
    </div>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-3"> Borrowing Price <span class="inline-block bg-gray-200 rounded font-bold text-pink-700  px-3 py-1 text-sm font-semibold ">{{ book.borrowing_price }} BDT</span></div>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">Category: {{ book.category }}</span>
    
    </div>
    <div class="px-6 py-4">

        <p>Review: {% if book.user_reviews %}
            <span class=" bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{ book.user_reviews }}</span>
            {% endif %}</p>
    
    
    </div>
    <div class="px-6 py-4">
  <a href=" {% url "detail_book" book.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">View Details</a> 
    </div>
    </div>
    {% endfor %}
   </div>
    


{% endblock content %}
